################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Api/obj
/Api/bin/Debug/net5.0
/.vs/IdentityServer4Demo
/Quickstart/obj
/Quickstart/bin/Debug/net5.0
/Client/obj
/Client/bin/Debug/net5.0
